<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 2 ================================= -->
        <div class="row">
            <main class="col-md-8">

                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Order Detail</h4>
                        <div class="row">
                            <div class="col-md-6" *ngFor="let orderDetail of orderDetails">
                                <figure class="itemside  mb-4">
                                    <div class="aside"><img src={{orderDetail.product.image}} class="border img-sm" style="width: 100px;"></div>
                                    <figcaption class="info" style="font-weight: 700;
                                    padding-top: 18px;">
                                        <p>{{orderDetail.product.name}}</p>
                                        <span class="text-muted" *ngIf="orderDetail.discount > 0">{{orderDetail.quantity}}x = {{orderDetail.quantity*(orderDetail.amount - orderDetail.amount*orderDetail.discount/100) | currency}} (-{{orderDetail.discount}}%)</span>
                                        <span class="text-muted" *ngIf="orderDetail.discount == 0">{{orderDetail.quantity}}x = {{orderDetail.quantity*(orderDetail.amount - orderDetail.amount*orderDetail.discount/100) | currency}}</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card-body.// -->
                </article>
            </main>
            <!-- col.// -->
            <aside class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <hr>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="h5">{{total | currency}}</dd>
                        </dl>
                        <hr>
                    </div>
                    <!-- card-body.// -->
                </div>
                <!-- card.// -->
            </aside>
            <!-- col.// -->
        </div>
        <!-- row.// -->

        <!-- ============================ COMPONENT 2 END//  ================================= -->
    </div>
    <!-- container .//  -->
</section>