<div class="container-dashboard">
    <div class="navigation">
        <ul>
            <li>
                <a class = "home" routerLink="../admin" style="margin: 30px 0;">
                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title"><h2>Dashboard</h2></span>
                </a>
            </li>
            <li routerLink="users">
                <a> 
                    <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <span class="title">Users Management</span>    
                </a>
            </li>
            <li routerLink="categories">
                <a>
                    <span class="icon"><i class="fa fa-object-group" aria-hidden="true"></i></span>
                    <span class="title">Category Management</span>
                </a>
            </li>
            <li (click)="clickCategory = !clickCategory">
                <a>
                    <span class="icon"><i class="fa fa-list" aria-hidden="true"></i></span>
                    <span class="title">Products Management</span>
                </a>
            </li>
            <div *ngIf="clickCategory" style="padding-left: 50px; transition: 0.5s;">
                <li routerLink="products">
                    <a>
                        <span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
                        <span class="title">All Products</span>
                    </a>
                </li>
                <li routerLink="add-product">
                    <a>
                        <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="title">Add New Product</span>
                    </a>
                </li>
            </div>
            <li routerLink="orderlist">
                <a>
                    <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
                    <span class="title">Orders Management</span>
                </a>
            </li>
            <hr>
            <li>
                <a routerLink="" (click)="logout()" style="color: red">
                    <span class="icon"><i class="fa fa-arrow-left" aria-hidden="true" style="color: red"></i></span>
                    <h4 class="title">Sign Out</h4>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="main">
        <router-outlet>
        </router-outlet>
    </div>
    
</div>
